<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mystyleviews.css" > 
    <title>Bioética celebra 13 años de trayectoria</title>
</head>
<body>

    <div id="logos-bar">
        <img src="/imagenes/logofesaragonunam.jpg" alt="Logo FES Aragón UNAM"> 
       <a href="/index.html/ejercicio4.html" class="gaceta-link">GACETA UNAM</a>
        <img src="/imagenes/escudounammenu.png" alt="Escudo UNAM"> 
    </div>

    <div id="menu">
        <ul>
            <li>
                <a href="/index.html/ejercicio4.html"> INICIO </a> 
            </li>
            <li class="current-page">
                <a href="/views/academia0.html"> ACADEMIA</a> 
            </li>
            <li>
               <a href="/views/comunidad0.html"> COMUNIDAD </a> 
            </li>
            <li>
                <a href="/views/deportes0.html">DEPORTES</a> 
            </li>
        </ul>
    </div> 	

    <div id="subtitulo">
        <h1>Bioética celebra 13 años de trayectoria</h1>
        <h2>Programa Universitario de Bioética (PUB): Liderazgo en la investigación, docencia y divulgación</h2>
        <p>El PUB fomenta el debate social, científico y filosófico, riguroso, laico, plural y argumentado.</p>
    </div> 	
    	
    <div id="main-content">
        <img src="/imagenes/COMUNIDADIMAGEN3.jpg" alt="Imagen alusiva a bioética" class="article-image">
        
        <p class="initial-letter-paragraph"><span class="initial-letter">H</span>ace 13 años, el 13 de septiembre de 2012, se creó el **Programa Universitario de Bioética (PUB)**, adscrito a la Coordinación de Humanidades. Su objetivo es desarrollar y promover investigaciones inter y transdisciplinarias, así como realizar actividades de docencia y difusión que fomenten el debate social, científico y filosófico, riguroso, laico, plural y argumentado, sobre problemas contemporáneos de bioética.</p>
        
        <p>Así, el PUB establece puentes entre las ciencias de la salud y la vida, con la visión de ser líder nacional e internacional en la investigación, docencia y divulgación de la bioética.</p>

        <p>Con esa visión, el PUB realizó el **Xitlefest**, una celebración que incluyó actividades académicas, de difusión y de integración con la comunidad universitaria. De esta forma, se llevó a cabo una sesión más del grupo de investigación Bioética, no Dualidad y Ciencias de la Complejidad, en la que **Carlos Gershenson García**, investigador del Centro de Ciencias de la Complejidad, impartió la conferencia *Verdad, realidad y contextualidad*, en la que invitó a la reflexión filosófica y científica sobre la manera como se percibe el mundo.</p>

        <p>Además, se llevó a cabo la presentación del libro *Entre la esperanza y el sufrimiento: el dilema de los xenotrasplantes*, de **Karla Cabrera** y **Braulio Martínez**, publicación que aborda cómo los xenotrasplantes representan una opción para muchos pacientes que buscan mejorar y aumentar su esperanza y calidad de vida, pero también describe la controversia bioética en relación con el bienestar animal y el uso de los animales no humanos.</p>

        <h3>Otras actividades</h3>

        <p>Sumado a estas actividades, los universitarios que acudieron a las instalaciones del PUB participaron en dinámicas recreativas, en la rifa de 10 paquetes de libros y termos, así como en la premiación de los tres ganadores de la dinámica en la que se dieron en adopción tres primos de Xitle, el cacomixtle que representa al PUB.</p>

        <p>Durante la celebración, **Esteban Castro León**, secretario auxiliar del Programa, dio a conocer las principales acciones que la dependencia universitaria ha desarrollado, e **Itzcóatl Maldonado Reséndiz**, secretario académico, reconoció el trabajo de cada uno de los integrantes del PUB.</p>

        <p>El Programa Universitario de Bioética continúa con su compromiso de promover un espacio de análisis crítico y reflexivo sobre los desafíos éticos que surgen con el avance científico y tecnológico, consolidándose como un referente indispensable en el ámbito universitario.</p>

        </div>

    <div id="credits-bar">
        &copy; 2025 FES Aragón - UNAM. Todos los derechos reservados. | Diseño y Desarrollo Web
    </div>

</body>
</html>