<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mystyleviews.css" > 
    <title>ANIVERSARIO CALIDAD UNAM</title>
</head>
<body>

    <div id="logos-bar">
        <img src="/imagenes/logofesaragonunam.jpg" alt="Logo FES Aragón UNAM"> 
        <a href="/index.html/ejercicio4.html" class="gaceta-link">GACETA UNAM</a>
        <img src="/imagenes/escudounammenu.png" alt="Escudo UNAM"> 
    </div>

    <div id="menu">
        <ul>
            <li>
                <a href="/index.html/ejercicio4.html"> INICIO </a> 
            </li>
            <li class="current-page">
                <a href="/views/academia0.html"> ACADEMIA</a> 
            </li>
            <li>
               <a href="/views/comunidad0.html"> COMUNIDAD </a> 
            </li>
            <li>
                <a href="/views/deportes0.html">DEPORTES</a> 
            </li>
        </ul>
    </div>     

    <div id="subtitulo">
        <h1>La calidad, base de la ciencia y la enseñanza</h1>
        <h2>Veinte aniversario de las primeras certificaciones ISO 9001 en la Universidad</h2>
        <p>Con 353 laboratorios certificados y acreditados con normas internacionales en 34 entidades académicas, la UNAM tiene el programa de gestión de calidad más grande del mundo.</p>
    </div>    
        
    <div id="main-content">
        <img src="/imagenes/academiaimagen2.jpg" alt="Imagen de Laboratorio o Certificación ISO" class="article-image">
        
        <p class="initial-letter-paragraph"><span class="initial-letter">C</span>on 353 laboratorios certificados y acreditados con normas internacionales en 34 entidades académicas, la Universidad Nacional tiene el programa de gestión de calidad más grande del mundo. Esto lo expresó la titular de Gestión para la Calidad de la Investigación (CGCI), de la Coordinación de la Investigación Científica, Flor Mónica Gutiérrez Alcántara, durante la celebración por el 20 aniversario de las primeras certificaciones ISO 9001 en la Universidad.</p>
        
        <p>En una ceremonia realizada en la terraza de la Torre de Ingeniería, la experta recordó que hacia 1987 la UNAM se convirtió en la primera institución pública en obtener un certificado de conformidad con las normas internacionales y la segunda en todo el país en hacer este esfuerzo.</p>

        <p>Posteriormente, con el apoyo del Programa Institucional de Certificación y Acreditación de Laboratorios, hace 20 años cinco entidades académicas fueron certificadas bajo la Norma Internacional ISO 9001 y han mantenido dichos reconocimientos a lo largo de los años, lo que implica laborar bajo las normas de trabajo aceptables en 170 países.</p>

        <p>Gutiérrez Alcántara precisó: “Esto es muy importante porque la **calidad es la base de la ciencia y de la enseñanza**. Podemos sentirnos orgullosos, porque en los laboratorios que cumplen las normas internacionales ISO 9001 e ISO 17025, la integridad de los resultados que están emitiendo está asegurada, garantizando la trazabilidad metodológica, la competencia técnica, la calibración, la validación de métodos y, sobre todo, la confianza de los resultados que están emitiendo”.</p>

        <p>Este esfuerzo, destacó, también **fortalece la vinculación** que tiene la Universidad con la industria nacional y los diferentes niveles de gobierno, porque muchos de los laboratorios certificados participan en cadenas productivas que exigen el cumplimiento de normas internacionales y normas oficiales mexicanas, detonando la productividad en la nación, mayor número de empleos y el bienestar de la sociedad.</p>

        <h3>Visión a Futuro</h3>

        <p>Al respecto, Lilian Aurora Pérez Ornelas, directora general de Normas de la Secretaría de Economía, rememoró que en 2021 entró en vigor la Ley de Infraestructura para la Calidad, y actualmente se elabora su reglamento, por lo que se visualiza ya incrementar la participación del sector académico en todas las actividades de infraestructura de la calidad.</p>

        <p>La UNAM, consideró, “ha sido un **actor fundamental en la evolución y consolidación de infraestructura**, y confiamos en que lo seguirá siendo dada su capacidad de competencia técnica en estos temas estratégicos”.</p>

        <p>Adicionalmente, Fernando Macedo Chagolla, secretario de Servicio y Atención a la Comunidad Universitaria, señaló que la cultura de la calidad ha permeado de manera muy importante, aunque aún hay mucho trabajo y áreas de oportunidad.</p>
        
        <p>Con 20 años, la generación de sistemas de gestión de la calidad de la Universidad ya tiene una tradición muy importante.</p>
    </div>

    <div id="credits-bar">
        &copy; 2025 FES Aragón - UNAM. Todos los derechos reservados. | Diseño y Desarrollo Web
    </div>

</body>
</html>