<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mystyleviews.css" > 
    
    <title>EJERCCIO CUATRO</title>

    <style>
        /* Asumimos que los estilos de #logos-bar, #menu, #credits-bar y body están en mystyleviews.css */

        /* Estilos específicos para las imágenes de las tarjetas */
        .card-img-top-custom {
            height: 250px; /* Altura fija para que todas las imágenes se vean iguales */
            object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsión */
        }
    </style>
</head>

<body>

    <div id="logos-bar">
        <img src="/imagenes/logofesaragonunam.jpg" alt="Logo FES Aragón UNAM"> 
        <a href="/index.html/ejercicio4.html" class="gaceta-link">GACETA UNAM</a>
        <img src="/imagenes/escudounammenu.png" alt="Escudo UNAM"> 
    </div>

    <div id="menu">
        <ul>
            <li>
                <a href="/index.html/ejercicio4.html"> INICIO </a> 
            </li>
            <li>
                <a href="/views/academia0.html"> ACADEMIA</a> 
            </li>
            <li>
               <a href="/views/comunidad0.html"> COMUNIDAD </a>  
            </li>
            <li>
                <a href="/views/deportes0.html">DEPORTES</a> 
            </li>
        </ul>
    </div>     

    <div class="container my-5">
        <h2 class="text-center" style="color: #34495e;">Deportes - Vistas de Contenido</h2>
        
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
            
            <div class="col">
                <div class="card shadow-sm h-100">
                    <a href="/views/deportes1.html">
                        <img src="/imagenes/DEPORTESPAGINA1DE1.jpg" class="card-img-top card-img-top-custom" alt="Vista de Deportes 1">
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center" style="color: #34495e;">Gimnasia artística auriazul logró 23 medallas en Campeonato Regional</h5>
                        <a href="/views/deportes1.html" class="btn btn-outline-danger mt-auto w-100">Ver Contenido</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card shadow-sm h-100">
                    <a href="/views/deportes2.html">
                        <img src="/imagenes/DEPORTEPAGINA2DE1.jpg" class="card-img-top card-img-top-custom" alt="Vista de Deportes 2">
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center" style="color: #34495e;">Porras y animación auriazul se hace de la parte más alta del podio</h5>
                        <a href="/views/deportes2.html" class="btn btn-outline-danger mt-auto w-100">Ver Contenido</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm h-100">
                    <a href="/views/deportes3.html">
                        <img src="/imagenes/DEPORTESPAGINA3DE1.jpg" class="card-img-top card-img-top-custom" alt="Vista de Deportes 3">
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center" style="color: #34495e;">Pumas sub-19 sigue en el top five de la tabla
</h5>
                        <a href="/views/deportes3.html" class="btn btn-outline-danger mt-auto w-100">Ver Contenido</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div id="credits-bar">
        &copy; 2025 FES Aragón - UNAM. Todos los derechos reservados. | Diseño y Desarrollo Web
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>